* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

body {
    width: 1100px;
    margin: 0 auto;
}

.flex-align {
    display: flex;
    align-items: center;
}

/* nav components styling */
nav h1 {
    font-size: 1.9rem;
    margin-bottom: 8px;
}

nav ul {
    list-style: none;
    margin-left: 20px;
    opacity: 50%;
}

ul li {

    display: inline;
    margin: 0 10px;
}

a {
    text-decoration: none;
    color: black;
}

i {
    font-weight: 600;
}

.product-page-nav {
    padding: 20px 0;
    justify-content: space-between;
}

nav img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 30px;
}

/* hr styled */
hr {
    opacity: 40%;
}

/* display image section styling */

.current-display-img {
    height: 500px;
    width: 500px;
    border-radius: 5%;
}

.sub-img {
    height: 100px;
    width: 100px;
    border-radius: 15%;
}

.sub-img-wrapper {
    padding: 26px 0;
    width: 500px;
    display: flex;
    justify-content: space-between;
}

/* main section styled */
.product-info {
    display: flex;
}

/* product details section styling */

.product-details h5 {
    color: #fd8f2b;
    margin-bottom: 1.1rem;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.product-details h2 {
    font-size: 2rem;
    font-weight: 800;
    line-height: 1.1;
    margin-bottom: 45px;
}

.product-details p {
    font-weight: bold;
    opacity: 30%;
    margin-bottom: 30px;
}

.product-details .product-details-price .price {
    font-weight: 800;
    font-size: 1.5rem;
}

.product-details-price .discount {
    font-size: 18px;
    font-weight: bold;
    color: hwb(27deg 42% 6%);
    background-color: hwb(24deg 88% 0%);
    padding: 3px;
    margin-left: 15px;
}

/* product details section button styling */
.og-price {
    font-size: 20px;
    opacity: 40%;
}

.user-interact-buttons {
    display: flex;
    align-items : center;
      justify-content : center;
    /*   border : 1px solid black; */
    margin-top: 70px;
}

.userInputArea {
    align-self : center;
    padding: 10px;
    width: 50px;
    border: 1px solid black;
    background-color: #F7F8FD;
}

.decrementButton {
    padding: 0 20px;
    font-size: 2rem;
    border: none;
    color: #fd8f2b;
    background-color: #F7F8FD;
}

.incrementButton {
    border: 1px solid black;
    color: #fd8f2b;
    font-size: 2rem;
    padding: 0 20px;
    border: none;
    background-color: #F7F8FD;
}

.addToCartBtn {
    background-color: #fd8f2b;
    border: 1px solid #fd8f2b;
    border-radius: 12px;
    color: white;
    margin-left: 50px;
    height: 50px;
    width: 250px;


}

.addToCartBtn i {
    margin-right: 9px;
}

.userInputHandler {
    display: flex;
    background-color: #F7F8FD;
    border-radius: 5%;

}

/* main tag styling */
.product-info {
    padding-top: 80px;
}

.product-showcase {
    /*   border : 1px solid black; */
    padding: 0px 0px 40px 40px;
}


.product-details {
    margin: 80px 100px;
    /*   margin-top : 80px; */
}